.form
  = simple_form_for(@post, html: { class: 'form-horizontal' }) do |f|
    = f.input :title
    %h5 Aqui você deve inserir o nome, o telefone e a quantidade de lugares disponíveis no veiculo.
    = f.input :body
    = f.button :submit
