.content
  %br
  %h6 Rota:
  %h1= @post.title
  %hr
  %h6 Dados da carona:
  %p= @post.body
  %h8 O usuario que postou foi: 
  %small= @post.user.email
  %br
  %small= link_to "Voltar", root_path
  -if current_user == @post.user
    %small= link_to "Editar", edit_post_path(@post)
    %small= link_to "Deletar", @post, method: :delete, data: { confirmar: "Você tem certeza?"}
