//variables
$green: #18bc9c;
$blue: #2c3e50;

//forms
.form{
  textarea{
    max-width: 100%;
  }
}

//index pag
.post{
  h1  {
    font-weight: 800;
    padding-left: 10px;
    border-left: 4px solid $green;
    a {
      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
}

// posts show page
.content{
  h1{
    font-size: 2.6em;
    font-weight: 800;
    text-align: left;
  }
  hr{
    border-top: 7px solid $blue;
    width: 100%;
  }
  p{
    font-size: 1.3em;
  }
}
