!!! 5
%head
  %title 
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "UnB Caronas", root_path
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li= link_to "Nova Carona", new_post_path
          %li= link_to "Sair da Conta", destroy_user_session_path, method: :delete
        -else
          %li= link_to "Entrar na Conta", new_user_session_path
          %li= link_to "Criar Conta", new_user_registration_path

  .container
    -flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-sucess"
    = yield
